<!doctype html><html>
<head>{{> globalHead}}</head>

<body>
  {{> globalNavigation}}
	<div class="wrap">
    <a href="search" class="btn btn-default">Edit Search</a>
    <div class="all-listings">
  		{{#each house}}
  		<div class="house">
  			<h3>{{title}}</h3>
  			<!-- make this linke call a js functuin that is {{id}} and then the function sets locat storage to that ID to be used by next page. -->
  			<a class="house-card" href="/listing-details" onclick="registerID({{id}})">
  				<img class = "img-responsive" src = "{{image1}}">
  			</a>
        <p class="cost">Cost: {{cost}}</p>
        <div class="card-info">
          <p >Bed: {{bed}}</p>
          <p >Bath: {{bath}}</p>
        </div>
  		</div>
  		{{/each}}	
  	</div>
  </div>

  {{> globalBottomScripts}}
  <script src="/js/allListings.js"></script>
</body></html>
