<!doctype html><html>
<head>{{> globalHead}}
  <link rel="stylesheet" type="text/css" href="/css/global-styling.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body>
  {{> globalNavigation}}
	<div class="wrap">
    <div id="refineSearch"class="btn btn-default text-center" >Refine Search</div>
      <div id="fadedPanel">
        <form id="search-form" role="form" method="get" action="/all-listingsVB">
          <div class="form-group" id="search-city">
            <label>Where are you going?</label>
            <input type="text" class="form-control" name="city" value="{{searchQuery.city}}">
          </div>
          <div class="form-group">
            <label id = "search-occupants">How many occupants total?</label>
            <input type="number" class="form-control" min="1" max="10" name="occupants" value="{{searchQuery.occupants}}">
          </div>
          <div class="form-group">
            <label id = "search-cost">What's your price limit (in €)?</label>
            <input type="number" class="form-control" min="1" max="10000" name="cost" value="{{searchQuery.cost}}" >
          </div>
          <button type="submit" id="refineSearchApply" class="btn btn-default">Apply</button>
        </form>
      </div>
    <div class="all-listings">
  		{{#each house}}
  		<div class="house">
        <a style = "color:white" class="house-card" href="/listing-details" onclick="registerID({{id}})">
  			 <h3>{{title}}</h3>
      </a>
  			<!-- make this linke call a js functuin that is {{id}} and then the function sets locat storage to that ID to be used by next page. -->
  				<div class="listing-slideshow">
            <figure class="show">
              <img id="image1" src = "{{image1}}" width="100%">
            </figure>
            <figure>
              <img id="image2" src = "{{image2}}" width="100%">
            </figure> 
            <figure>
              <img id="image3" src = "{{image1}}" width="100%">
            </figure>
              <span class="prev">«</span>
              <span class="next">»</span>
          </div>
  			
        <p class="cost">Cost: {{cost}}</p>
        <div class="bed-bath">
          <p class="bed">Bed: {{bed}}</p>
    			<p class="bath">Bath: {{bath}}</p>
          <p class="bath"> availability: {{availability}}</p>
          <p class="bath"> housing-type: {{type}}</p>
        </div>
  		</div>
  		{{/each}}	
  	</div>
  </div>

  {{> globalBottomScripts}}
  <script src="/js/allListingsVB.js"></script>
</body></html>
