<!doctype html><html><head>{{> globalHead}}</head>
<body>
  {{> globalNavigation}}
  <div clas="container">
    <div class="listings-description">
      {{#each housing}}
      <div class="house">
        <h3>{{title}}</h3>

        <div class="listing-slideshow">
          <figure class="show">
            <img src="{{image1}}" width="100%">
          </figure>
          <figure>
            <img src="{{image2}}"width="100%">
          </figure>
          <figure>
            <img src="{{image3}}"width="100%">
          </figure>
            <span class="prev">«</span>
            <span class="next">»</span>
          </figure>
        </div>
        
        <div class="top-info">
          <p class="cost2">Cost: {{cost}}</p>
          <p class="city">Location: {{city}}</p>
          <p class="availability">Available on: {{availability}}</p>
        </div>
        <div class="basic-info">
          <h4>Basic Information</h4>
          <p class="bed">type: {{type}}</p>
          <p class="bath">Bed: {{bed}}</p>
          <p class="bath">Bath: {{bath}}</p>
        </div>
        <div class="Description">
          <h4>Description</h4>
          <p>{{description}}</p>
        </div>
        <div class="contact">
          <h4>Host Contact info</h4>
          <p class="phone">Phone number: {{phone}}</p>
          <p class="email">email address: {{email}}</p>
        </div>
      </div>
      {{/each}} 
      <a href="/apply" class="btn btn-default">Contact Host</a>
    </div>
  </div>
  {{> globalBottomScripts}}
</body></html>
