<!doctype html>
<html>
<head>
	{{> globalHead}}
	<link rel="stylesheet" type="text/css" href="/css/list-your-space.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
	{{> globalNavigation}}
	<script type="text/javascript">
		console.log("{{city}}");
		localStorage.setItem('city', "{{city}}"); 
		localStorage.setItem('numOfBaths', "{{numOfBaths}}");
		localStorage.setItem('numOfBeds', "{{numOfBeds}}");
		localStorage.setItem('numOfOccupants', "{{numOfOccupants}}");
	</script>
	<div class="wrap">
    <h3 class="text-center">Before listing your space, let's sign you up for an account really quick.</h3>
    <!--div id="entireHomeBtn"class="btn btn-default text-center">Entire Home</div-->
    <div id="sign-up-panel">
      <!--form id="entireHome" role="form" method="get" action="JavaScript:handleClick()"-->
      <form id="signUpForm" name="signUpForm" role="form" method="get" onsubmit="return onsubmitform();">
        <div class="form-group">
	        <label>First Name</label>
	        <input type="text" class="form-control" id="first-name" placeholder="John">
	      </div>
	      <div class="form-group">
	        <label>Last Name</label>
	        <input type="text" class="form-control" id="last-name" placeholder="Appleseed">
	      </div>
	      <div class="form-group">
	        <label>email</label>
	        <input type="email" class="form-control" id="email" placeholder="jAppleseed@gmail.com">
	      </div>
	      <div class="form-group">
	        <label>Password</label>
	        <input type="password" class="form-control" id="password">
	      </div>
	      <div class="form-group">
	        <label>Telephone number</label>
	        <input type="tel" class="form-control" id="telephone" placeholder="123-456-7890">
	      </div>
        <input type="submit" class="btn btn-default" value="Sign Up"></input>
      </form>
    </div>
  	{{> globalBottomScripts}}
  	<script type="text/javascript" src="/js/signUp.js"></script>
</body>
</html>